body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
}

.keyboard-container {
    width: 450px;
    margin: 0 auto;
    background-color: #000;
    border: 1px solid #e1e4e8;
    border-radius: 6px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.text-bar {
    display: flex;
    align-items: center;
    border: 1px solid #d1d5da;
    border-radius: 6px;
    background-color: #f3f4f6;
    padding: 10px;
    margin-bottom: 10px;
}

#input-text {
    flex-grow: 1;
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 16px;
    padding: 5px;
    width: 100%;
}

#copy-button {
    width: 40px;
    height: 40px;
    border: 1px solid #d1d5da;
    border-radius: 6px;
    background-color: #f3f4f6;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#copy-button img {
    width: 20px;
    height: 20px;
}

.keyboard-button {
    background-color: #04A2DF;
    color: #fff;
    height: 35px;
    width: 55px;
    font-size: 16px;
    padding: 5px 10px;
    margin: 5px;
    border: none;
    border-radius: 1px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.keyboard-button:hover {
    background-color: #00BFFF;
}

.special-button {
    background-color: #04A2DF;
    color: #fff;
    height: 35px;
    width: 55px;
    font-size: 16px;
    padding: 5px 10px;
    margin: 5px;
    border: none;
    border-radius: 1px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.separator-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.separator {
    width: 100%;
    margin: 10px 0;
    border: 1px solid #d1d5da;
}

.go-back-button {
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    background: transparent;
    border: none;
}

.go-back-button img {
    width: 24px;
    height: 24px;
    vertical-align: middle;
}

.go-back-button:hover {
    opacity: 0.7;
}

.keypad {
    display: flex;
    align-items: center;
    justify-content: center;
}

.left-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 60px 60px 60px 60px;
    gap: 10px;
    row-gap: 1px;
    padding-top: 10px;
}

.vertical-line {
    border-left: 3px solid #d1d5da;
    height: 220px;
    margin: 10px;
}

.right-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 60px 60px 60px 60px;
    gap: 10px;
    row-gap: 1px;
    padding-top: 10px;
}

.contact-email {
    font-size: 14px;
    color: #666;
    text-align: center;
}

