body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
}

.keyboard-container {
    max-width: 450px;
    margin: 0 auto;
    background-color: #000;
    border: 1px solid #e1e4e8;
    border-radius: 6px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.text-bar {
    display: flex;
    align-items: center;
    border: 1px solid #d1d5da;
    border-radius: 6px;
    background-color: #f3f4f6;
    padding: 10px;
    margin-bottom: 10px;
}

#input-text {
    flex-grow: 1;
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 16px;
    padding: 5px;
    width: 100%;
}

#copy-button {
    width: 40px;
    height: 40px;
    border: 1px solid #d1d5da;
    border-radius: 6px;
    background-color: #f3f4f6;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#copy-button img {
    width: 20px;
    height: 20px;
}

/* Add the following styles to make the buttons eye-catching */
.keyboard-button {
    background-color: #04A2DF;
    color: #fff; /* White text color */
    height: 35px;
    width: 55px;
    font-size: 16px;
    padding: 5px 10px;
    margin: 5px;
    border: none;
    border-radius: 1px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.keyboard-button:hover {
    background-color: #00BFFF; /* Lighter saffron color on hover */
}

.special-button {
    background-color: #04A2DF;
    color: #fff; /* White text color */
    height: 35px;
    width: 55px;
    font-size: 16px;
    padding: 5px 10px;
    margin: 5px;
    border: none;
    border-radius: 1px;
    cursor: pointer;
    transition: background-color 0.2s;
}

/* Styles for the separator container */
.separator-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Styles for the separator */
.separator {
    width: 100%;
    margin: 10px 0;
    border: 1px solid #d1d5da; /* Separator line */
}

.go-back-button {
    display: inline-block;
    cursor: pointer;
    text-decoration: none; /* Remove the default underline */
    background: transparent; /* Make the background transparent */
    border: none; /* Remove any border */
}

/* Style the image inside the anchor */
.go-back-button img {
    width: 24px; /* Adjust the width and height as needed */
    height: 24px;
    vertical-align: middle; /* Vertically center the image */
}

.go-back-button:hover {
    opacity: 0.7; /* Reduce opacity on hover for interactivity */
}

/* Styles for the keypad */
.keypad {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Styles for the left grid of buttons */
.left-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 60px 60px 60px 60px;
    gap: 10px;
    row-gap: 1px;
    padding-top: 10px;
}

/* Styles for the vertical line */
.vertical-line {
    border-left: 3px solid #d1d5da;
    height: 220px; /* Adjust the height as needed */
    margin: 10px;
}

/* Styles for the right grid of buttons */
.right-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 60px 60px 60px 60px;
    gap: 10px;
    row-gap: 1px;
    padding-top: 10px;
}

.contact-email {
    font-size: 14px;
    color: #666;
    text-align: center;
    margin-top: 20px;
}

.contact-email a {
    color: #0077b5;
    text-decoration: none;
    font-weight: bold;
}

.contact-email a:hover {
    text-decoration: underline;
}
